<div class="container">
  <div class="card-group config">
    <div class="card">
      <div class="numbers" style="color: greenyellow;">
        {{dashBoardCardQtdGames.valor}}
      </div>
      <div class="card-body">
        <h5 class="card-title">{{dashBoardCardQtdGames.titulo}}</h5>
      </div>
      <div class="card-footer">
        <small class="text-muted">Last updated {{date | date:'medium' }}</small>
      </div>
    </div>
    <div class="card">
      <div class="numbers" style="color: darkmagenta;">
        {{dashBoardCardUsuariosAtivos.valor}}
      </div>
      <div class="card-body">
        <h5 class="card-title">{{dashBoardCardUsuariosAtivos.titulo}}</h5>
      </div>
      <div class="card-footer">
        <small class="text-muted">Last updated {{date | date:'medium' }}</small>
      </div>
    </div>
  </div>
  <div class="d-flex justify-content-center align-items-center" style="text-align: center;">
    <div>
      <a routerLink="/gerenciarJogos">
        <div class="btn btn-outline-success my-2 my-sm-0" name="listarJogos">
          Gerenciar Jogos
        </div>
      </a>
    </div>
    <div>
      <a routerLink="/gerenciarUsuarios">
        <div class="btn btn-outline-success my-2 my-sm-0" name="listarUsers">
          Gerenciar Users
        </div>
      </a>
    </div>
  </div>
  <br>
</div>